
//directives
@import 'directives/listItems';
@import 'directives/listDetails';
@import 'directives/ia-sites-new';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/dashboard';

//pages
@import 'pages/sites';

//vendor
@import 'vendor/stylesheets/bootstrap';

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #00779b;
  margin-top: 3.8em;
  height: 100%;
}
th, td, h2, h3, h4, p {
  color: #666666;
}

h2 {
  margin-top: 0;
  border-bottom: 2px solid #e6e7e6;
  font-weight: normal;
  font-size: 3em;
}
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p, a {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.top-view {
  height: 100%;
}