
//directives
@import 'directives/listItems';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/dashboard';

//pages
@import 'pages/main';

//vendor
@import 'vendor/stylesheets/bootstrap';

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #00779b;
  margin-top: 3.6em;
  height: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p, a {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.top-view {
  height: 100%;
}