.header {
  background-color: #00779b;
  border-bottom: 2px solid #006b89;
  height: 3.8em;
  position: fixed;
  width: 100%;
  top: 0;
  p {
    float: right;
    color: #d3f4ff;
    position: relative;
    top: 0.9em;
    right: 1.5em;
  }
  .logo {
    display: block;
    width: auto;
    height: 2.8em;
    position: relative;
    top: 0.1em;
    left: 1em;
  }
  .nav-items {
    position: relative;
    left: 11.2em;
  }
}