.list-details {
  padding-bottom: 4em;
  max-width: 53em;
  section {
    display: inline-block;
  }
  h3 {
    font-weight: normal;
    font-size: 1.5em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    width: 100%;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-image: none;
  }
  .notes {
    min-height: 5em;
    margin-bottom: 1em;
  }
}