<h3>{{section.title}}</h3>
<div class="form-contacts row-striped" ng-repeat="item in items">
    <!--<div class="col-md-12">-->
        <!--<a href="#" class="remove-contact" ng-click="removeContact($event, $index)">remove</a>-->
    <!--</div>-->
    <!--<div class="{{input.widthClass}}" data-ng-repeat="input in section.inputs" data-ng-include="'templates/forms/inputs/'+input.type+'.html'"></div>-->
    <div class="clear"></div>
</div>
<a href="#" class="btn btn-success add" ng-click="addContact($event)">Add a Contact</a>