<div class="side-nav">
    <ul class="nav-container">
        <li class="nav-item"><a href="#" ng-class="{selected: $state.includes('dashboard.inventory.sites')}" ui-sref="dashboard.inventory.sites.index">Sites</a></li>
        <li class="nav-item"><a href="#" ng-class="{selected: $state.includes('dashboard.inventory.vendor')}" ui-sref="dashboard.inventory.vendor.index">Vendors</a></li>
        <li class="nav-item"><a href="#" ng-class="{selected: $state.includes('dashboard.inventory.circuits')}" ui-sref="dashboard.inventory.circuits.index">Circuits</a></li>
    </ul>
</div>